PORT=3000
DATABASE_URL=postgresql://usuario:senha@localhost:5432/nome_do_banco
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua-chave-service-role
SUPABASE_BUCKET_NAME=NOME-DO-BUCKET

# Configurações de Autenticação do Administrador
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=